* {
  border-sizing: border-box;
}

.logoutBtn {
  padding: 4px 12px;
  cursor: pointer;
  background-color: #f687b3;
  border-radius: 50px;
}

.repeat-active {
  filter: brightness(200%);
}

.heart-active {
  filter: opacity(20%);
}

.pause-overlay.active-playing {
  display: block;
}
